@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.info-rojo {
  border-left: 6px solid #be1e2d;
  padding-left: 5px;
  padding-right: 5px; }

.info-azul {
  border-left: 6px solid #030636;
  padding-left: 5px;
  padding-right: 5px; }

.info-blanco {
  border-left: 6px solid #f5f5f5;
  padding-left: 5px;
  padding-right: 5px; }

.info-negro {
  border-left: 6px solid #060606;
  padding-left: 5px;
  padding-right: 5px; }

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#fefefe, rgba(89, 89, 255, 0.678)); }
  body .banner {
    width: 100%;
    background-image: url(../index.html); }
  body .msj_media {
    display: none; }

footer {
  text-align: center;
  border-top: 1px solid #030636;
  margin-top: 20px;
  padding-top: 20px; }

/* MENU */
.bordes_menu {
  border: 2px solid #030636;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f5f5f5; }
  .bordes_menu .espaciado {
    margin-left: 15px;
    font-size: 18px; }
    .bordes_menu .espaciado:hover {
      transform: scale(1.3); }

/* INDEX */
div .titulo-centro {
  text-align: center; }

div .bienvenido {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px; }

div .items-inicio {
  display: inline;
  margin-left: 55px;
  border-bottom: 4px double #030636; }

/* GRID */
.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item1 item2" "item4 item3"; }
  .gridcontainer .item1 {
    grid-area: item1; }
  .gridcontainer .item2 {
    grid-area: item2; }
  .gridcontainer .item3 {
    grid-area: item3; }
  .gridcontainer .item4 {
    grid-area: item4; }
  .gridcontainer .maincontainer {
    position: relative;
    width: 600px;
    height: 320px;
    margin: 20px; }
    .gridcontainer .maincontainer .thecard {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.5s ease; }
      .gridcontainer .maincontainer .thecard:hover {
        transform: rotateY(180deg); }
      .gridcontainer .maincontainer .thecard .thefront, .gridcontainer .maincontainer .thecard .thefront1, .gridcontainer .maincontainer .thecard .thefront2, .gridcontainer .maincontainer .thecard .thefront3, .gridcontainer .maincontainer .thecard .thefront4 {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-position: 130px;
        background-size: 300px 300px;
        background-repeat: no-repeat;
        color: #333;
        border: 2px solid #030636;
        background-color: #f5f5f5;
        border-radius: 15px; }
      .gridcontainer .maincontainer .thecard .thefront1 {
        background-image: url(../img/distribucion.png); }
      .gridcontainer .maincontainer .thecard .thefront2 {
        background-image: url(../img/luces.png); }
      .gridcontainer .maincontainer .thecard .thefront3 {
        background-image: url(../img/filtros.png); }
      .gridcontainer .maincontainer .thecard .thefront4 {
        background-image: url(../img/accesorios.png); }
      .gridcontainer .maincontainer .thecard .theback {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #f5f5f5;
        color: #060606;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        transform: rotateY(180deg);
        border: 2px solid #030636;
        border-radius: 15px; }

/* PRODUCTOS */
.titulo-centro {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.container .gap {
  gap: 40px;
  margin-top: 40px; }
  .container .gap .grid_borders {
    height: 320px;
    width: 40%;
    border: 2px solid #030636;
    padding: 20px;
    text-align: end;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgba(236, 236, 236, 0.671); }
    .container .gap .grid_borders .img_distribucion {
      width: 120px; }
    .container .gap .grid_borders .img_polyv {
      width: 120px; }
    .container .gap .grid_borders .img_aceites {
      width: 190px; }
    .container .gap .grid_borders .img_filtros {
      width: 130px; }
    .container .gap .grid_borders .img_bobinas {
      width: 220px; }
    .container .gap .grid_borders .img_bujias {
      width: 190px; }
    .container .gap .grid_borders .img_luces {
      width: 160px; }
    .container .gap .grid_borders .img_baterias {
      width: 150px; }
    .container .gap .grid_borders .img_accesorios {
      width: 170px; }
    .container .gap .grid_borders .img_amortiguacion {
      width: 190px; }

/* PROMOCIONES | CARDS */
.tarjetas {
  display: flex;
  justify-content: space-evenly; }
  .tarjetas .card {
    background-color: rgba(0, 0, 255, 0.123);
    border: 2px solid #030636; }
    .tarjetas .card .card_tamaño {
      width: 100%;
      height: 250px;
      border-bottom: 2px solid #030636; }

/* QUIENES SOMOS */
.quienes-somos {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.descripciones .descripcion1 {
  font-size: 20px;
  margin-left: 350px; }

.descripciones .descripcion2 {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 250px; }

.lineas-rojas {
  width: 200px;
  height: 350px;
  position: relative;
  left: 30px;
  bottom: 300px;
  margin-bottom: -300px; }

/* CONTACTO */
.contacto-titulo {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 310px; }

.info-contacto {
  display: flex;
  margin-left: 50px;
  margin-top: 25px; }

.horario-lugar {
  display: block;
  gap: 50px; }

/* LOGOS */
.logos .logo-telefono {
  position: relative;
  bottom: 375px;
  left: 10px;
  width: 35px;
  height: 35px;
  border: 2px solid #060606;
  padding: 3px;
  border-radius: 10px; }

.logos .logo-instagram {
  position: relative;
  bottom: 280px;
  left: -32px; }

.logos .logo-reloj {
  position: relative;
  bottom: 185px;
  left: -75px;
  width: 35px;
  height: 35px; }

.logos .logo-ubicacion {
  position: relative;
  bottom: 90px;
  left: -115px; }

.mapa {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  margin-bottom: -300px;
  position: relative;
  bottom: 370px; }

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  /* INDEX SCREEN 2 */
  .bordes_menu .espaciado {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 20px; }
  .container .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "item1 item2" "item4 item3"; }
    .container .gridcontainer .item1 {
      grid-area: item1; }
    .container .gridcontainer .item2 {
      grid-area: item2; }
    .container .gridcontainer .item3 {
      grid-area: item3; }
    .container .gridcontainer .item4 {
      grid-area: item4; }
    .container .gridcontainer .maincontainer {
      width: 40%;
      height: 200px;
      left: 45px; }
      .container .gridcontainer .maincontainer .thecard .thefront, .container .gridcontainer .maincontainer .thecard .thefront1, .container .gridcontainer .maincontainer .thecard .thefront2, .container .gridcontainer .maincontainer .thecard .thefront3, .container .gridcontainer .maincontainer .thecard .thefront4 {
        background-size: 70%;
        background-position: 60px; }
      .container .gridcontainer .maincontainer .thecard .thefront1 {
        background-size: 220px;
        background-position: 110px; }
      .container .gridcontainer .maincontainer .thecard .thefront3 {
        background-size: 220px;
        background-position: 120px; } }

@media screen and (max-width: 1024px) {
  /* INDEX SCREEN 1 */
  .bordes_menu .espaciado {
    margin-top: 10px;
    margin-left: 10px; }
  .items-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .gridcontainer {
    width: 100%;
    margin-top: 50px;
    padding: 0;
    gap: 15px; }
    .gridcontainer .maincontainer {
      width: 80%;
      height: 200px;
      left: 45px; }
      .gridcontainer .maincontainer .thecard .thefront, .gridcontainer .maincontainer .thecard .thefront1, .gridcontainer .maincontainer .thecard .thefront2, .gridcontainer .maincontainer .thecard .thefront3, .gridcontainer .maincontainer .thecard .thefront4 {
        background-size: 70%;
        background-position: 60px; }
      .gridcontainer .maincontainer .thecard .thefront1 {
        background-size: 220px;
        background-position: 90px; }
      .gridcontainer .maincontainer .thecard .thefront3 {
        background-size: 220px;
        background-position: 100px; }
  /* CONTACTO SCREEN 1 */
  .logos .logo-telefono {
    position: relative;
    bottom: 370px; }
  .logos .logo-instagram {
    position: relative;
    bottom: 275px; }
  .logos .logo-reloj {
    position: relative;
    bottom: 180px; }
  .logos .logo-ubicacion {
    position: relative;
    bottom: 85px; }
  .mapa {
    margin-right: 0; } }

@media screen and (max-width: 768px) {
  .bordes_menu .espaciado:hover {
    transform: scale(0); }
  /* INDEX TABLET */
  .items-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .gridcontainer {
    width: 90%;
    margin-top: 50px;
    padding: 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .gridcontainer .maincontainer {
      width: 80%;
      height: 200px;
      left: 45px; }
      .gridcontainer .maincontainer .thecard .thefront, .gridcontainer .maincontainer .thecard .thefront1, .gridcontainer .maincontainer .thecard .thefront2, .gridcontainer .maincontainer .thecard .thefront3, .gridcontainer .maincontainer .thecard .thefront4 {
        background-size: 50%;
        background-position: 140px; }
      .gridcontainer .maincontainer .thecard:Hover {
        transform: rotateY(0deg); }
  .msj_media {
    display: block;
    text-align: center;
    position: relative;
    top: 10px;
    color: #ececec; }
  /* PRODUCTOS TABLET */
  .container .gap {
    gap: 20px;
    margin-top: 20px; }
    .container .gap .grid_borders {
      width: 90%;
      height: 100%;
      border: 2px solid black;
      padding: 20px;
      text-align: end;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      border-radius: 15px; }
      .container .gap .grid_borders .articulo_p {
        display: none; }
  /* PROMOCIONES TABLET */
  .tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; }
  /* QUIENES SOMOS TABLET */
  .lineas-rojas {
    position: relative;
    bottom: 450px; }
  /* CONTACTO TABLET */
  .horario-lugar {
    margin-left: 15px; }
  .logos .logo-telefono {
    position: relative;
    bottom: 360px; }
  .logos .logo-instagram {
    position: relative;
    bottom: 270px; }
  .logos .logo-ubicacion {
    position: relative;
    bottom: 90px; }
  .mapa {
    display: none; } }

@media screen and (max-width: 480px) {
  /* INDEX CEL */
  .msj_media {
    padding-bottom: 20px;
    display: block;
    text-align: center;
    position: relative;
    top: 40px; }
  .items-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .gridcontainer {
    width: 70%;
    margin-top: 50px;
    padding: 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .gridcontainer .maincontainer {
      width: 80%;
      height: 200px;
      left: 65px; }
      .gridcontainer .maincontainer .thecard .thefront, .gridcontainer .maincontainer .thecard .thefront1, .gridcontainer .maincontainer .thecard .thefront2, .gridcontainer .maincontainer .thecard .thefront3, .gridcontainer .maincontainer .thecard .thefront4 {
        background-size: 100%;
        background-position: 0; }
      .gridcontainer .maincontainer .thecard:Hover {
        transform: rotateY(0deg); }
  /* PRODUCTOS CEL */
  .container .gap {
    gap: 20px;
    margin-top: 20px; }
    .container .gap .grid_borders {
      width: 90%;
      height: 100%;
      border: 2px solid black;
      padding: 20px;
      text-align: end;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      border-radius: 15px; }
    .container .gap .articulo_p {
      display: none; }
  /* QUIENES SOMOS CEL */
  .quienes-somos {
    position: relative;
    top: 10px;
    left: 15px;
    margin-bottom: 600px; }
  .descripciones {
    position: relative;
    top: -400px; }
    .descripciones .descripcion1 {
      position: absolute;
      left: -330px;
      top: -200px;
      margin-top: 50px; }
    .descripciones .descripcion2 {
      position: absolute;
      left: -230px;
      top: 50px;
      margin-bottom: 250px; }
  .lineas-rojas {
    position: relative;
    top: -600px;
    margin-bottom: -650px;
    width: 280px;
    height: 490px;
    opacity: .3; }
  /* CONTACTO CEL */
  .contacto-titulo {
    margin-bottom: 30px;
    margin-left: 150px; }
  .info-contacto {
    margin-top: 30px;
    margin-bottom: 30px; }
  .horario-lugar {
    margin-right: 15px;
    margin-left: 15px; }
  .logos .logo-telefono {
    position: relative;
    top: -495px;
    border: 2px solid black;
    padding: 3px;
    border-radius: 10px; }
  .logos .logo-instagram {
    position: relative;
    top: -385px; }
  .logos .logo-reloj {
    position: relative;
    top: -245px; }
  .logos .logo-ubicacion {
    position: relative;
    top: -110px; }
  .mapa {
    display: none; } }

@media screen and (min-width: 360px) and (max-width: 441px) {
  /* INDEX CEL ESP */
  .msj_media {
    padding-bottom: 20px;
    display: block;
    text-align: center;
    position: relative;
    top: 40px; }
  .items-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .gridcontainer {
    width: 80%;
    margin-left: -20px; }
  /* QUIENES SOMOS CEL ESP */
  .descripciones .descripcion1 {
    position: absolute;
    left: -340px; }
  .descripciones .descripcion2 {
    position: absolute;
    left: -240px; }
  /* CONTACTO CEL ESP */
  .horario-lugar {
    margin-right: 15px;
    margin-left: 15px; }
  .logos .logo-telefono {
    display: none; }
  .logos .logo-instagram {
    display: none; }
  .logos .logo-reloj {
    display: none; }
  .logos .logo-ubicacion {
    display: none; } }
