@media screen and (max-width:1200px){

    /* INDEX SCREEN 2 */

    .espaciado{
        margin-top: 10px;
        margin-left: 80px;
        font-size: 20px;
    }

    .gridcontainer{
        width:100%;
        margin-top: 50px;
        padding: 0;
        gap: 15px;

        .maincontainer{
            width: 80%;
            height: 200px;
            left: 45px;

            .thecard{
                .thefront{
                    background-size: 70%;
                    background-position: 60px;
                }
            
                .thefront1{
                    background-size: 220px;
                    background-position: 110px;
                }
            
                .thefront3{
                    background-size: 220px;
                    background-position: 120px;
                }
            }
        }
    }
}    

@media screen and (max-width:1024px){

    /* INDEX SCREEN 1 */


    .bordes_menu{
        .espaciado{
            margin-top: 10px;
            margin-left: 10px;
            font-size: 20px;
        }
    }

    .items-inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .gridcontainer{
        width:100%;
        margin-top: 50px;
        padding: 0;
        gap: 15px;

        .maincontainer{
            width: 80%;
            height: 200px;
            left: 45px;

            .thecard{
                .thefront{
                    background-size: 70%;
                    background-position: 60px;
                }
            
                .thefront1{
                    background-size: 220px;
                    background-position: 90px;
                }
            
                .thefront3{
                    background-size: 220px;
                    background-position: 100px;
                }
            }
        }
    }    
}
@media screen and (max-width:768px){

    /* INDEX TABLET */

    .items-inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .gridcontainer{
        width:90%;
        margin-top: 50px;
        padding: 0;
        gap: 15px;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;

       .maincontainer{
        width: 80%;
        height: 200px;
        left: 45px;

        .thecard{
            .thefront{
                background-size: 50%;
                background-position: 140px;
            }
        }
        .thecard:Hover{
            transform: rotateY(0deg);
        }
    }
    }

    .msj_media{
        display: block;
        text-align: center;
        position: relative;
        top: 10px;
        color: rgb(236, 236, 236);
    }
}

@media screen and (max-width:480px){

    /* INDEX CEL */

    .msj_media{
        padding-bottom: 20px;
        display: block;
        text-align: center;
        position: relative;
        top: 40px;
    }

    .items-inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .gridcontainer{
        width:70%;
        margin-top: 50px;
        padding: 0;
        gap: 15px;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;

       .maincontainer{
        width: 80%;
        height: 200px;
        left: 65px;

            .thecard{
                .thefront{
                    background-size: 100%;
                    background-position: 0;
                }
            }

            .thecard:Hover{
            transform: rotateY(0deg);
            }
        }
    }
}